<body>
  <app-navbar-user></app-navbar-user>

  <!-- ======= Hero Section ======= -->
  <section id="hero-child"  class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>CHƯƠNG TRÌNH LUYỆN THI TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</h1>
      <h2>Với thế mạnh đào tạo Tiếng Anh theo chuẩn quốc tế, tại ACADEMY AEC, các chương trình được thiết kế đa dạng, khung chương trình cụ thể rõ ràng, phù hợp với lứa tuổi và định hướng riêng của các học viên</h2>
      <a routerLink="/contact" class="btn-get-started">Liên hệ</a>
    </div>
  </section><!-- End Hero -->
    <main id="main">
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://i.ytimg.com/vi/POGpjfyPJsY/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLD-0TSdfeGPeP_kFxjT6W01TaavNA" class="img-fluid" alt="">
              <div class="member-content">
                <h4>TOEFL iBT</h4>
                <span>Chương trình luyện thi chứng chỉ TOEFL iBT </span>
                <p>Gồm 5 bậc đào tạo: PRE-TOEFL, TOEFL iBT 45, TOEFL 60, TOEFL 70, TOEFL >80</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://i.ytimg.com/vi/POGpjfyPJsY/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLD-0TSdfeGPeP_kFxjT6W01TaavNA" class="img-fluid" alt="">
              <div class="member-content">
                <h4>TOEIC</h4>
                <span>Chương trình luyện thi chứng chỉ Quốc tế TOEIC</span>
                <p>Gồm 5 bậc đào tạo: PRE-TOEIC, TOEIC 350, TOEIC 450, TOEIC 500, TOEIC >600</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://i.ytimg.com/vi/POGpjfyPJsY/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLD-0TSdfeGPeP_kFxjT6W01TaavNA" class="img-fluid" alt="">
              <div class="member-content">
                <h4>SAT/SSAT</h4>
                <span>Chương trình luyện thi chứng chỉ SAT/SSAT</span>
                <p>Gồm 3 bậc đào tạo:Pre-SAT, SAT 1000-1300, SAT>= 1400</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Trainers Section -->
  </main>
  <app-footer></app-footer>
  </body>

