<app-navbar></app-navbar>
<app-header></app-header>
<div class="main-content">

  <main>

      <div class="page-header">
        <h3>Thêm khóa học</h3>
      </div>

      <div class="page-content">

          <div class="records table-responsive">
            <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                          <div class="record-header">
                              <div class="add">
                                <table>
                                  <div  class="td_select">
                                  <td><span>Tên tài liệu</span></td>

                                    <td>
                                      <select  [(ngModel)]="document.nameD" name="nameD" id="nameD" class="form-select" aria-label="Default select example" required>
                                        <option value="1" disabled >-- Chọn khóa học --</option>
                                        <option  *ngFor="let english of englishs" value="{{english.id}}">{{english.englishName}}</option>
                                      </select>
                                  </td>
                                  <!-- <td><span>Loại tài liệu</span></td>
                                  <td>
                                    <input type="text" [(ngModel)]="document.typeD" name="typeD" id="typeD" required>
                                  </td> -->
                                  <td><span>Nội dung</span></td>
                                  <td>
                                    <input style=" height: 30px; width: 350px;" type="file" name="nameDocument" (change)="onFileSelect($event)" />
                                  </td>
                                </div>
                                </table>
                              </div>
                          </div>

                        <div class="record-header">
                          <div class="add">
                            <table>
                              <div  class="td_select">
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td><button  type="submit">Thêm</button></td>
                            </div>
                          </table>
                          </div>
                      </div>

            </form>

          </div>

      </div>

  </main>

</div>

