<app-navbar></app-navbar>
<app-header></app-header>
<div class="main-content">

  <main>

      <div class="page-header">
        <h3>Thêm khóa học</h3>
      </div>

      <div class="page-content">

          <div class="records table-responsive">
            <form #f="ngForm" (ngSubmit)="onSubmit()">
                          <div class="record-header">
                              <div class="add">
                                <table>
                                  <div  class="td_select">
                                    <tr style="height: 70px;">
                                      <td><span>Chương trình học</span></td>
                                      <td>
                                        <select  [(ngModel)]="courses.id" name="id" id="id" class="form-select" aria-label="Default select example" required>
                                          <!-- <option value="1" disabled >-- Chọn khóa học --</option> -->
                                          <option value="2">Tiếng Anh thiếu niên</option>

                                      </select>
                                      </td>
                                    <td><span>Chương trình học</span></td>
                                      <td>
                                        <select  [(ngModel)]="courses.program" name="program" id="program" class="form-select" aria-label="Default select example" required>
                                          <option value="1" disabled >-- Chọn khóa học --</option>
                                          <option value="TOEFL Junior">TOEFL Junior</option>
                                          <option value="IELTS for Teen">IELTS for Teen</option>
                                          <option value="Luyện thi lớp 10">Luyện thi lớp 10</option>
                                      </select>
                                      </td>
                                    <td><span>Cấp độ</span></td>
                                    <td>
                                      <select [(ngModel)]="courses.level" name="level" id="level" required>
                                        <option value="PRE (Sơ cấp)">PRE (Sơ cấp)</option>
                                        <option value="MID (Trung cấp)">MID (Trung cấp)</option>
                                        <option value="ADV (Nâng cao)">ADV (Nâng cao)</option>
                                        <option value="HON (Chuyên sâu)">HON (Chuyên sâu)</option>
                                      </select>
                                    </td>
                                    <td><span>Học phí</span></td>
                                    <td>
                                      <input type="text" [(ngModel)]="courses.price" name="price" id="price" required>
                                    </td>
                                    </tr>
                                    <tr>
                                      <td><span>Lịch học</span></td>
                              <td><input type="text" [(ngModel)]="courses.schedule" name="schedule" id="schedule"  required >
                              </td>

                              <td><span>Ngày khai giảng dự kiến</span></td>
                              <td>
                                <input type="datetime-local" [(ngModel)]="courses.openning" name="openning" id="openning" required>
                              </td>
                              <td><span>Thời lượng khóa</span></td>
                                  <td>
                                    <select [(ngModel)]="courses.time" name="time" id="time" required>
                                      <option value="36">36 buổi</option>
                                      <option value="48">48 buổi</option>
                                      <option value="60">60 buổi</option>
                                    </select>
                                  </td>
                                  <td></td>
                                  <td><button  type="submit">Thêm</button></td>
                                    </tr>
                                </div>
                                </table>
                              </div>
                          </div>
            </form>

          </div>

      </div>

  </main>

</div>

