<app-navbar></app-navbar>
<app-header></app-header>
<div class="main-content">

  <main>
    <div class="page-header">
      <h3>Quản lý chương trình Tiếng Anh giao tiếp căn bản</h3>
    </div>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li class="dropdown"><a routerLink="/course"><span>Tiếng Anh thiếu nhi</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/course">Quản lý lịch học</a></li>
            <li><a routerLink="/child-english-ad-list">Danh sách đăng ký khóa học</a></li>
          </ul>
        </li>
        <li class="dropdown"><a routerLink="/young-english-ad"><span>Tiếng Anh thiếu niên</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/young-english-ad">Quản lý lịch học</a></li>
            <li><a routerLink="/young-english-ad-list">Danh sách đăng ký khóa học</a></li>
          </ul>
        </li>
        <li class="dropdown"><a routerLink="/ielts-english-ad"><span>Luyện thi IELTS</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/ielts-english-ad">Quản lý lịch học</a></li>
            <li><a routerLink="/ielts-english-ad-list">Danh sách đăng ký khóa học</a></li>
          </ul>
        </li>
        <li class="dropdown"><a routerLink="/toeic-english-ad"><span>Luyện thi TOEFL-TOEIC</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/toeic-english-ad">Quản lý lịch học</a></li>
            <li><a routerLink="/toeic-english-ad-list">Danh sách đăng ký khóa học</a></li>
          </ul>
        </li>
        <li class="dropdown"><a routerLink="/basic-english-ad"><span>Giao tiếp - Căn Bản</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/basic-english-ad">Quản lý lịch học</a></li>
            <li><a routerLink="/basic-english-ad-list">Danh sách đăng ký khóa học</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
      <div class="page-content">

          <div class="records table-responsive">

              <div class="record-header">
                  <div class="add">
                      <span>Entries</span>
                      <select name="" id="">
                          <option value="">ID</option>
                      </select>
                     <a  routerLink="/add-basic-english"><button>Thêm</button></a>
                  </div>

                  <div class="browse">
                     <input type="search" placeholder="Search" class="record-search">
                      <select name="" id="">
                          <option value="">Status</option>
                      </select>
                  </div>
              </div>

              <div>
                  <table width="100%">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th><span class="las la-sort"></span> CHƯƠNG TRÌNH</th>
                              <th><span class="las la-sort"></span> CẤP ĐỘ</th>
                              <th><span class="las la-sort"></span> HỌC PHÍ</th>
                              <th><span class="las la-sort"></span> LỊCH HỌC</th>
                              <th><span class="las la-sort"></span> NGÀY KHAI GIẢNG DỰ KIẾN</th>
                              <th><span class="las la-sort"></span> THỜI LƯỢNG KHÓA</th>
                              <th><span class="las la-sort"></span> THAO TÁC</th>

                          </tr>
                      </thead>
                      <tbody *ngFor="let course of courses">
                        <tr>
                            <td>{{course?.course_id}}</td>
                            <td>
                                {{course?.program}}
                            </td>
                            <td>
                                {{course?.level}}
                            </td>
                            <td>
                                {{course?.price | currency:'VND'}}
                            </td>
                            <td>
                               {{course?.schedule}}
                            </td>
                            <td>
                            {{course?.openning}}
                           </td>
                           <td>
                            {{course?.time}}
                           </td>
                         <td>
                          <div class="actions">
                            <button (click)="updateCourse(course.course_id)" class="btn" type="submit"><span class="las la-edit"></span></button>
                            <button (click)="onDeleteCourse(course.course_id)" class="btn" ><span class="las la-trash-alt"></span></button>
                          </div>
                      </td>
                        </tr>
                    </tbody>
                  </table>
              </div>

          </div>

      </div>

  </main>

</div>


