<app-navbar></app-navbar>
<app-header></app-header>
<div class="main-content">

  <main>

      <div class="page-header">
          <h1>Quản lý thời khóa biểu</h1>
          <!-- <small>Home / Dashboard</small> -->
      </div>

      <div class="page-content">

          <div class="records table-responsive">

              <div class="record-header">
                  <div class="add">
                      <!-- <span>Entries</span>
                      <select name="" id="">
                          <option value="">ID</option>
                      </select> -->
                      <a  routerLink="/add-timetable"><button>Thêm</button></a>
                  </div>

                  <!-- <div class="browse">
                     <input type="search" placeholder="Search" class="record-search">
                      <select name="" id="">
                          <option value="">Status</option>
                      </select>
                  </div> -->
              </div>

              <div>
                  <table width="100%">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th><span class="las la-sort"></span> CHƯƠNG TRÌNH</th>
                              <th><span class="las la-sort"></span> KHAI GIẢNG</th>
                              <th><span class="las la-sort"></span> GIỜ HỌC</th>
                              <th><span class="las la-sort"></span> PHÒNG</th>
                              <th><span class="las la-sort"></span> GIÁO VIÊN</th>
                              <th><span class="las la-sort"></span> THAO TÁC</th>
                          </tr>
                      </thead>
                      <tbody *ngFor="let timetable of timetable">
                          <tr>
                              <td>{{timetable.id}}</td>

                              <td>
                                {{timetable.course.program}}
                              </td>
                              <td>
                                {{timetable.course.openning}}
                              </td>
                              <td>
                                {{timetable.course.schedule}}
                              </td>
                              <td>
                                {{timetable.classroom}}
                              </td>
                              <td>
                                  {{timetable.teacher.fullName}}
                              </td>
                              <td>
                                  <div class="actions">
                                    <button (click)="updateTimetable(timetable.id)" class="btn" type="submit"><span class="las la-edit"></span></button>
                                    <button (click)="onDeleteTimetable(timetable.id)" class="btn" type="submit"><span class="las la-trash-alt"></span></button>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>

          </div>

      </div>

  </main>

</div>

