<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        <a href="index.html">
          <img  src="../../../assets/img/logo-trung-tam-hsk.png" alt="">
        </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="../../../assets/img/img/logo.png" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a  routerLink="/home-user">Trang chủ</a></li>
          <li><a routerLink="/about">Giới thiệu</a></li>
          <li class="dropdown"><a routerLink="/child-english"><span>Chương trình học</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/child-english">Tiếng Anh thiếu nhi</a></li>
              <li><a routerLink="/young-english">Tiếng Anh thiếu niên</a></li>
              <li><a routerLink="/ielts">Luyện thi IELTS</a></li>
              <li><a routerLink="/toiec">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
              <li><a routerLink="/basic-english">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
            </ul>
          </li>
          <li class="dropdown"><a routerLink="/child-schedule"><span>Lịch Khai Giảng</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/child-schedule">Tiếng Anh thiếu nhi</a></li>
              <li><a routerLink="/young-schedule">Tiếng Anh thiếu niên</a></li>
              <li><a routerLink="/ielts-schedule">Luyện thi IELTS</a></li>
              <li><a routerLink="/toiec-schedule">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
              <li><a routerLink="/basic-schedule">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
            </ul>
          </li>
          <li><a routerLink="/contact">Liên hệ</a></li>
          <li><a routerLink="/login-user">Đăng nhập</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <main id="main">
    <section class="h-100 h-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">Đăng ký khóa học</h3>

                <form (ngSubmit)="onSubmit()" class="px-md-2">

                  <!-- <div class="row">
                    <div class="col-md-6 mb-4">
                      <input type="text"  [(ngModel)]="registerChild.program" name="program" id="program" class="form-control" >

                    </div>
                    <div class="col-md-6 mb-4">
                      <input type="text" [(ngModel)]="registerChild.level" name="level" id="level" class="form-control">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                    <input type="text"  [(ngModel)]="registerChild.price" name="price" id="price" class="form-control">
                  </div>

                  <div class="col-md-6 mb-4">
                    <input type="text"  [(ngModel)]="registerChild.schedule" name="schedule" id="schedule" class="form-control">
                  </div>
                </div>


                  <div class="row">
                    <div class="col-md-6 mb-4">
                  <input type="text" [(ngModel)]="registerChild.openning" name="openning" id="openning" class="form-control">
                </div>

                <div class="col-md-6 mb-4">
                  <input type="text"  [(ngModel)]="registerChild.time" name="time" id="time" class="form-control">
                </div>
              </div> -->

              <div class="form-outline mb-4">
                  <input type="email"  name="email" id="email" [(ngModel)]="registerChild.email" class="form-control" placeholder="Nhập email">
                </div>

                  <button type="submit" class="btn btn-success btn-lg mb-1">Đăng ký</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
<app-footer></app-footer>
</body>

