<app-navbar></app-navbar>
<app-header></app-header>
<div class="main-content">

  <main>

      <div class="page-header">
        <h3>Thêm khóa học</h3>
      </div>

      <div class="page-content">

          <div class="records table-responsive">
            <form #f="ngForm" (ngSubmit)="onSubmit()">
                          <div class="record-header">
                              <div class="add">
                                <table>
                                  <div  class="td_select">
                                    <tr style="height: 70px;">
                                      <td><span>Chương trình học</span></td>
                                      <td>
                                        <!-- <input type="text" [(ngModel)]="courses.program" name="program" id="program" > -->
                                        <select  [(ngModel)]="courses.id" name="id" id="id" class="form-select" aria-label="Default select example" required>
                                          <!-- <option value="1" disabled >-- Chọn khóa học --</option> -->
                                          <option value="4">Luyện thi TOEFL-TOEIC</option>

                                      </select>
                                      </td>
                                    <td><span>Chương trình học</span></td>
                                      <td>
                                        <!-- <input type="text" [(ngModel)]="courses.program" name="program" id="program" > -->
                                        <select  [(ngModel)]="courses.program" name="program" id="program" class="form-select" aria-label="Default select example" required>
                                          <option value="1" disabled >-- Chọn khóa học --</option>
                                          <option value="TOIEC">TOIEC</option>
                                      </select>
                                      </td>
                                    <td><span>Cấp độ</span></td>
                                    <td>
                                      <!-- <input type="text" [(ngModel)]="courses.level" name="level" id="level" > -->
                                      <select [(ngModel)]="courses.level" name="level" id="level" required>
                                        <option value="PRE-TOEIC">PRE-TOEIC</option>
                                        <option value="TOEIC 350">TOEIC 350</option>
                                        <option value="TOEIC 450">TOEIC 450</option>
                                        <option value="TOEIC 500">TOEIC 500</option>
                                        <option value="TOEIC >600">TOEIC >600</option>
                                      </select>
                                    </td>
                                    <td><span>Học phí</span></td>
                                    <td>
                                      <input type="text" [(ngModel)]="courses.price" name="price" id="price" required>
                                    </td>
                                    </tr>

                                    <tr>

                                      <td><span>Lịch học</span></td>
                                      <td>
                                        <select [(ngModel)]="courses.schedule" name="schedule" id="schedule" required>
                                          <option value="7h (Thứ 3-5-7)">7h (Thứ 3-5-7)</option>
                                          <option value="9h (Thứ 3-5-7)">9h (Thứ 3-5-7)</option>
                                          <option value="13h (Thứ 3-5-7)">13h (Thứ 3-5-7)</option>
                                          <option value="15h (Thứ 3-5-7)">15h (Thứ 3-5-7)</option>
                                          <option value="18h (Thứ 3-5-7)">18h (Thứ 3-5-7)</option>
                                          <option value="20h (Thứ 3-5-7)">20h (Thứ 3-5-7)</option>
                                          <option value="7h (Thứ 2-4-6)">7h (Thứ 2-4-6)</option>
                                          <option value="9h (Thứ 2-4-6)">9h (Thứ 2-4-6)</option>
                                          <option value="13h (Thứ 2-4-6)">13h (Thứ 2-4-6)</option>
                                          <option value="15h (Thứ 2-4-6)">15h (Thứ 2-4-6)</option>
                                          <option value="18h (Thứ 2-4-6)">18h (Thứ 2-4-6)</option>
                                          <option value="20h (Thứ 2-4-6)">20h (Thứ 2-4-6)</option>
                                        </select>                                      </td>

                                      <td><span>Ngày khai giảng dự kiến</span></td>
                                      <td>
                                        <input type="datetime-local" [(ngModel)]="courses.openning" name="openning" id="openning" required>
                                      </td>
                                      <td><span>Thời lượng khóa</span></td>
                                          <td>
                                            <select [(ngModel)]="courses.time" name="time" id="time" required>
                                              <option value="36">36 buổi</option>
                                              <option value="48">48 buổi</option>
                                              <option value="60">60 buổi</option>
                                            </select>
                                          </td>
                                          <td></td>
                                          <td><button  type="submit">Thêm</button></td>
                                    </tr>

                                </div>
                                </table>
                              </div>
                          </div>

            </form>

          </div>

      </div>

  </main>

</div>

