<div class="main-content">

  <header>
      <div class="header-content">
          <label for="menu-toggle">
              <span class="las la-bars"></span>
          </label>

          <div class="header-menu">
              <!-- <label for="">
                <div class="input-group">
                  <div class="form-outline">
                    <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search" />
                  </div>
                  <button id="search-button" type="button" class="btn btn-success">
                    <i class="las la-search"></i>
                  </button>
                </div>
              </label> -->

              <!-- <div class="notify-icon">
                  <span class="las la-envelope"></span>
                  <span class="notify">4</span>
              </div>

              <div class="notify-icon">
                  <span class="las la-bell"></span>
                  <span class="notify">3</span>
              </div> -->

              <div class="user">
                  <!-- <div class="bg-img" style="background-image: url(../../../assets/img/3.jpeg)"></div> -->

                  <span class="las la-power-off"></span>
                  <span (click)="handleLogout()">Logout</span>
              </div>

          </div>
      </div>
  </header>
</div>
