<app-navbar></app-navbar>
<app-header></app-header>
<div class="main-content">

  <main>

      <div class="page-header">
          <h3>Quản lý thông tin giảng viên</h3>
          <nav class="nav justify-content-center text-uppercase">
            <a class="nav-link text-success" routerLink="/teacher-manager">Quản lý thông tin</a>
            <a class="nav-link text-success active"routerLink="/teacher-schedule">Kế hoạch giảng dạy</a>
          </nav>
      </div>

      <div class="page-content">

          <div class="records table-responsive">

              <div class="record-header">
                  <div class="add">
                      <span>Entries</span>
                      <select name="" id="">
                          <option value="">ID</option>
                      </select>
                      <a  routerLink="/add-teacher"><button>Thêm</button></a>
                  </div>

                  <div class="browse">
                     <input type="search" placeholder="Search" class="record-search">
                      <select name="" id="">
                          <option value="">Status</option>
                      </select>
                  </div>
              </div>

              <div>
                  <table width="100%">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th class="text-center"><span class="las la-sort"></span> TÊN</th>
                              <th class="text-center"><span class="las la-sort"></span> SĐT/Birth</th>
                              <th class="text-center"><span class="las la-sort"></span> ĐỊA CHỈ</th>
                              <th class="text-center"><span class="las la-sort"></span> CHƯƠNG TRÌNH GIẢNG DẠY</th>
                              <th class="text-center"><span class="las la-sort"></span> THAO TÁC</th>
                          </tr>
                      </thead>
                      <tbody *ngFor="let teacher of teacher">
                          <tr>
                              <td>{{teacher.id}}</td>
                              <td>
                                  <div class="client">
                                     <div class="client-img bg-img" style="background-image: url({{teacher.image}})"></div>
                                      <div class="client-info">
                                          <h4>{{teacher.fullName}}</h4>
                                          <small>{{teacher.email}}</small>
                                      </div>
                                  </div>
                              </td>
                              <td>

                                <div class="client">
                                   <div class="client-info">
                                       <h4>{{teacher.phone}}</h4>
                                       <small>{{teacher.birthDay}}</small>
                                   </div>
                               </div>
                              </td>
                              <td>
                                {{teacher.address}}
                              </td>
                              <td>
                                {{teacher.teachProgram}}
                              </td>
                              <td>
                                  <div class="actions">
                                    <button (click)="updateTeacher(teacher.id)" class="btn" type="submit"><span class="las la-edit"></span></button>
                                    <button (click)="onDeleteTeacher(teacher.id)" class="btn" type="submit"><span class="las la-trash-alt"></span></button>
                                    <button (click)="addTeacherSchedule(teacher.id)" class="btn" type="submit"> <span class="las la-calendar-day"></span></button>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>

          </div>

      </div>

  </main>

</div>
