<app-navbar></app-navbar>
<app-header></app-header>
<div class="main-content">

  <main>

      <div class="page-header">
        <h3>Thêm khóa học</h3>
      </div>

      <div class="page-content">

          <div class="records table-responsive">
            <form #f="ngForm" (ngSubmit)="onSubmit()">
                          <div class="record-header">
                              <div class="add">
                                <table>
                                  <div  class="td_select">
                                    <td><span>Chương trình học</span></td>
                                    <td>
                                      <!-- <input type="text" [(ngModel)]="courses.program" name="program" id="program" > -->
                                      <select  [(ngModel)]="courses.id" name="id" id="id" class="form-select" aria-label="Default select example" required>
                                        <!-- <option value="1" disabled >-- Chọn khóa học --</option> -->
                                        <option value="5">Giao tiếp căn bản</option>

                                    </select>
                                    </td>
                                  <td><span>Chương trình học</span></td>
                                    <td>
                                      <!-- <input type="text" [(ngModel)]="courses.program" name="program" id="program" > -->
                                      <select  [(ngModel)]="courses.program" name="program" id="program" class="form-select" aria-label="Default select example" required>
                                        <option value="1" disabled >-- Chọn khóa học --</option>
                                        <option value="Tiếng Anh Giao Tiếp">Tiếng Anh Giao Tiếp</option>
                                    </select>
                                    </td>
                                  <td><span>Cấp độ</span></td>
                                  <td>
                                    <!-- <input type="text" [(ngModel)]="courses.level" name="level" id="level" > -->
                                    <select [(ngModel)]="courses.level" name="level" id="level" required>
                                      <option value="CE1">CE1</option>
                                      <option value="CE2">CE2</option>
                                      <option value="CE3">CE3</option>
                                    </select>
                                  </td>
                                  <td><span>Học phí</span></td>
                                  <td>
                                    <input type="text" [(ngModel)]="courses.price" name="price" id="price" required>
                                  </td>
                                </div>
                                </table>
                              </div>
                          </div>
                          <div class="record-header">
                            <div class="add">
                              <table>
                                <div  class="td_select">
                              <td><span>Lịch học</span></td>
                              <td><input type="text" [(ngModel)]="courses.schedule" name="schedule" id="schedule"  required >
                              </td>

                              <td><span>Ngày khai giảng dự kiến</span></td>
                              <td>
                                <input type="datetime-local" [(ngModel)]="courses.openning" name="openning" id="openning" required>
                              </td>
                              <td><span>Thời lượng khóa</span></td>
                                  <td>
                                    <select [(ngModel)]="courses.time" name="time" id="time" required>
                                      <option value="12 tuần">12 tuần</option>
                                    </select>
                                  </td>
                              </div>
                              </table>
                            </div>
                        </div>
                        <div class="record-header">
                          <div class="add">
                            <table>
                              <div  class="td_select">
                              <!-- <td><span>Nội dung</span></td>
                              <td><textarea name="" id="" cols="30" rows="2"></textarea></td>-->
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td><button  type="submit">Thêm</button></td>
                            </div>
                          </table>
                          </div>
                      </div>

            </form>

          </div>

      </div>

  </main>

</div>

