<body>
  <app-navbar-user></app-navbar-user>

  <!-- ======= Hero Section ======= -->
  <section id="hero-child"  class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>LỊCH KHAI GIẢNG & LỊCH HỌC CÁC LỚP - MẢNG ĐÀO TẠO TIẾNG ANH LUYỆN THI</h1>
    </div>
  </section><!-- End Hero -->
    <main id="main">

      <!-- ======= Popular Courses Section ======= -->
      <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <!-- <h2>Khóa học</h2> -->
            <p>LỊCH KHAI GIẢNG</p>
          </div>

          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="records table-responsive">
              <div class="record-header">
                  <div class="browse">
                     <input type="search" placeholder="Search" class="record-search">
                  </div>
              </div>
            <div>
              <table width="100%" >
                <thead >
                    <tr >
                      <th><span class="las la-sort"></span> CHƯƠNG TRÌNH</th>
                      <th><span class="las la-sort"></span> CẤP ĐỘ</th>
                      <th><span class="las la-sort"></span> HỌC PHÍ</th>
                      <th><span class="las la-sort"></span> LỊCH HỌC</th>
                      <th><span class="las la-sort"></span> NGÀY KHAI GIẢNG</th>
                      <th><span class="las la-sort"></span> THỜI LƯỢNG KHÓA</th>
                      <th><span class="las la-sort"></span> ĐĂNG KÝ</th>
            </thead>
                <tbody *ngFor="let course of courses">
                  <tr>
                      <!-- <td>{{course?.course_id}}</td> -->
                      <td>
                          {{course?.program}}
                      </td>
                      <td>
                          {{course?.level}}
                      </td>
                      <td>
                          {{course?.price | currency:'VND'}}
                      </td>
                      <td>
                        {{course?.schedule}}
                      </td>
                      <td>
                      {{course?.openning}}
                    </td>
                    <td>
                      {{course?.time}}
                    </td>
                    <ng-container *ngIf="loggedIn" >
                      <td>
                        <a class="text-success" (click)="updateCourse(course.course_id)">Đăng ký ngay!</a>
                      </td>
                    </ng-container>
                    <ng-container *ngIf="!loggedIn">
                      <td>
                        <a class="text-danger" routerLink="/login-user" >Đăng nhập để đăng ký!</a>
                      </td>
                    </ng-container>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
  </body>



