@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
}
.input{
  height: 20px;
  width: 20px;
}
body
{
  background: url("https://img.freepik.com/premium-photo/school-supplies-blue-background-school-teacher-day-concept-wooden-letters-table-with-copy-space_114311-297.jpg?size=626&ext=jpg&ga=GA1.2.186812330.1694421726&semt=ais");
}
