<body>
  <!-- ======= Header ======= -->
  <!-- <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        <a href="index.html">
          <img  src="../../../assets/img/logo-trung-tam-hsk.png" alt="">
        </a></h1>
      <a href="index.html" class="logo me-auto"><img src="../../../assets/img/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a routerLink="/home-user">Trang chủ</a></li>
          <li><a routerLink="/about">Giới thiệu</a></li>
          <li class="dropdown"><a routerLink="/child-english"><span>Chương trình học</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/child-english">Tiếng Anh thiếu nhi</a></li>
              <li><a routerLink="/young-english">Tiếng Anh thiếu niên</a></li>
              <li><a routerLink="/ielts">Luyện thi IELTS</a></li>
              <li><a routerLink="/toiec">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
              <li><a routerLink="/basic-english">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
            </ul>
          </li>
          <li class="dropdown"><a routerLink="/child-schedule"><span>Lịch Khai Giảng</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/child-schedule">Tiếng Anh thiếu nhi</a></li>
              <li><a routerLink="/young-schedule">Tiếng Anh thiếu niên</a></li>
              <li><a routerLink="/ielts-schedule">Luyện thi IELTS</a></li>
              <li><a routerLink="/toiec-schedule">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
              <li><a routerLink="/basic-schedule">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
            </ul>
          </li>
          <li><a routerLink="/contact">Liên hệ</a></li>
          <li><a *ngIf="!loggedIn" routerLink="/login-user">Đăng nhập</a></li>
          <li><a *ngIf="loggedIn" (click)="handleLogout()">Đăng xuất</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header> -->
  <!-- End Header -->
  <app-navbar-user></app-navbar-user>
  <!-- ======= Hero Section ======= -->
  <section id="hero-child"  class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>TIẾNG ANH CĂN BẢN - GIAO TIẾP & TIẾNG ANH CHO NGƯỜI ĐI LÀM</h1>
      <h2>Tại Trung tâm tâm Anh ngữ HSK, chương trình học tiếng Anh giao tiếp, tiếng Anh Căn bản & Tiếng Anh cho người đi làm được thiết kế đa dạng, phù hợp với nhiều lứa tuổi khác nhau. Với phương pháp học lý thuyết kết hợp với thực hành thực tế, kỹ năng tiếng Anh của các em sẽ được hình thành một cách linh hoạt và tự nhiên nhất, từ đó giúp các em tự tin giao tiếp tiếng Anh trôi chảy trong mọi tình huống, với mọi đối tượng.</h2>
      <a routerLink="/contact" class="btn-get-started">Liên hệ</a>
    </div>
  </section><!-- End Hero -->
    <main id="main">
                <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class=" d-flex align-items-stretch ">
            <div class="card ">
              <div class="card-body">
                <h5 class="card-title"><a href="">TIẾNG ANH CĂN BẢN</a></h5>
                <p class="fst-italic text-center">- Nội dung: Củng cố từ vựng, ôn cấu trúc câu – ngữ pháp; luyện nghe, luyện nói căn bản</p>
                <p class="fst-italic text-center">- Đối tượng: Phù hợp với đối tượng là người đi làm, học sinh – sinh viên mất căn bản, chưa có nền tảng tiếng Anh vững chắc</p>
                <p class="fst-italic text-center">- Thời lượng: 3 tháng | 3 buổi/tuần</p>
                <p class="card-text">Chương trình học trang bị vững chắc kiến thức về ngữ âm, ngữ pháp giúp xây dựng nền tảng vững chắc cho HV. Từ đó giúp các em tự tin giao tiếp tiếng Anh trôi chảy trong mọi tình huống, với mọi đối tượng.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Events Section -->
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Khung chương trình đào tạo</h2>
          <p>TIẾNG ANH GIAO TIẾP</p>
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" class="img-fluid" alt="">
              <div class="member-content">
                <h4>CE1 – Elementary</h4>
                <span>– Đối tượng: Phù hợp với đối tượng là người đi làm, học sinh – sinh viên có nhu cầu học giao tiếp, muốn cải thiện kỹ năng giao tiếp tiếng Anh</span>
                <span>– Thời lượng: 4 tháng – 2buổi/tuần – 1,5h/buổi</span>
                <span>– Nội dung: Luyện âm, luyện nói theo chủ đề cơ bản như giới thiệu bản thân, sở thích, thể thao, công việc, trường lớp, gia đình… Kết hợp với các buổi Tiếng Anh thực tế đa dạng về hình thức như coffee talk, field trip…</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" class="img-fluid" alt="">
              <div class="member-content">
                <h4>CE2 – Pre-intermediate</h4>
                <span>– Đối tượng: Phù hợp với đối tượng là người đi làm, học sinh – sinh viên muốn nâng cao khả năng giao tiếp, phản xạ linh hoạt.</span>
                <span>– Thời lượng: 3 tháng – 2b/tuần – 1,5h/buổi</span>
                <span>– Nội dung: Luyện âm, luyên nói nói theo chủ đề nâng cao hơn nhằm rèn luyện sự tự tin, phản xạ nhanh và linh hoạt. Chương trình tiếng anh trải nghiệm thông qua các hình thức như talk show, các CLB tiếng Anh, đóng phim… nhằm tạo môi trường để học viên vận dụng lý thuyết đã được học vào thực tế giao tiếp tiếng Anh với mọi đối tượng, trong mọi tình huống.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" class="img-fluid" alt="">
              <div class="member-content">
                <h4>CE3 – Intermediate và CE4 – Upper intermediate</h4>
                <span>– Đối tượng: Phù hợp với đối tượng là người đi làm, học sinh – sinh viên muốn nâng cao khả năng giao tiếp, phản xạ linh hoạt.</span>
                <span>– Thời lượng: 3 tháng – 2b/tuần – 1,5h/buổi</span>
                <span>– Nội dung: Luyện giao tiếp chuyên sâu với các chủ đề khó hơn, đòi hỏi học viên phải giao tiếp linh hoạt và tự tin hơn cũng như phản xạ và xử lý thông tin một cách nhạy bén.</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main>
  <app-footer></app-footer>
  </body>


