<body>
  <app-navbar-user></app-navbar-user>

  <!-- ======= Hero Section ======= -->
  <section id="hero-child"  class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>CHƯƠNG TRÌNH LUYỆN THI IELTS</h1>
      <h2>
        Với thế mạnh đào tạo Tiếng Anh theo chuẩn quốc tế, tại ACADEMY AEC, các chương trình được thiết kế đa dạng, khung chương trình cụ thể rõ ràng, phù hợp với lứa tuổi và định hướng riêng của các học viên
        </h2>
      <a routerLink="/contact" class="btn-get-started">Liên hệ</a>
    </div>
  </section><!-- End Hero -->
    <main id="main">
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://vcdn-vnexpress.vnecdn.net/2017/04/05/huong-dan-hoc-thi-ielts-cho-ng-3909-3571-1491385539.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>PreIELTS</h4>
                <span>– Đối tượng: Dành cho Học viên từ 15 tuổi trở lên, Học viên mới bắt đầu học IELTS hoặc trình độ tương đương 2.0 – 2.5 IELTS.</span>
                <span>– Thời lượng: Gồm 2 Khóa A & B (thời lượng mỗi khóa là 12 tuần), 3 buổi/ tuần</span>
                <span>– Nội dung: Chú trọng ôn tập 3 kỹ năng: Nghe, Nói, Ngữ pháp</span>
                <span>– Loại hình lớp: Kèm riêng: 01 – 03 học viên/ lớp, Kèm nhóm: 06 – 09 học viên/ lớp</span>
                <span>– Giáo trình: Giáo trình được tổng hợp và biên soạn từ các đầu sách uy tín dành riêng cho Học viên HSK</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://vcdn-vnexpress.vnecdn.net/2017/04/05/huong-dan-hoc-thi-ielts-cho-ng-3909-3571-1491385539.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>IELTS 4.0</h4>
                <span>– Đối tượng: Dành cho Học viên từ 15 tuổi trở lên, Học viên có trình độ tương đương 3.0 IELTS.</span>
                <span>– Thời lượng: Gồm 01 khóa học ( 12 tuần), 3 buổi/ tuần</span>
                <span>– Nội dung: Chú trọng ôn tập 3 kỹ năng:
                  Nghe (Part 1,2),
                  Nói (3 Parts),
                  Đọc, Lý thuyết Viết IELTS</span>
                <span>– Loại hình lớp: Kèm riêng: 01 – 03 học viên/ lớp, Kèm nhóm: 06 – 09 học viên/ lớp</span>
                <span>– Giáo trình: Giáo trình được tổng hợp và biên soạn từ các đầu sách uy tín dành riêng cho Học viên HSK</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://vcdn-vnexpress.vnecdn.net/2017/04/05/huong-dan-hoc-thi-ielts-cho-ng-3909-3571-1491385539.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>IELTS 5.0</h4>
                <span>– Đối tượng: Dành cho Học viên từ 15 tuổi trở lên, Học viên đã học qua IELTS và có trình độ tương đương 4.0 – 4.5 IELTS</span>
                <span>– Thời lượng: Gồm 01 khóa học ( 12 tuần), 3 buổi/ tuần</span>
                <span>– Nội dung: Chú trọng ôn tập 4 kỹ năng:
                  Nghe (Part 3,4),
                  Nói ( 3 Parts),
                  Đọc, Viết: luyện giải đề thi</span>
                <span>– Loại hình lớp: Kèm riêng: 01 – 03 học viên/ lớp, Kèm nhóm: 06 – 09 học viên/ lớp</span>
                <span>– Giáo trình: Giáo trình được tổng hợp và biên soạn từ các đầu sách uy tín dành riêng cho Học viên HSK</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Trainers Section -->
        <!-- ======= Trainers Section ======= -->
        <section id="trainers" class="trainers">
          <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
              <div class=" col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="https://vcdn-vnexpress.vnecdn.net/2017/04/05/huong-dan-hoc-thi-ielts-cho-ng-3909-3571-1491385539.jpg" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>IELTS 5.5</h4>
                    <span>– Đối tượng: Dành cho Học viên từ 15 tuổi trở lên, Học viên đã học qua IELTS và có trình độ tương đương 5.0, cần chú trọng luyện giải đề & tham gia thi chứng chỉ quốc tế.</span>
                    <span>– Thời lượng: Gồm 2 Khóa A & B (thời lượng mỗi khóa là 12 tuần), 3 buổi/ tuần</span>
                    <span>– Nội dung: Luyện giải đề thi IELTS với cấu trúc bài làm hoàn chỉnh gồm 4 kỹ năng</span>
                    <span>– Loại hình lớp: Kèm riêng: 01 – 03 học viên/ lớp, Kèm nhóm: 06 – 09 học viên/ lớp</span>
                    <span>– Giáo trình: Giáo trình được tổng hợp và biên soạn từ các đầu sách uy tín dành riêng cho Học viên HSK</span>
                  </div>
                </div>
              </div>

              <div class=" col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="https://vcdn-vnexpress.vnecdn.net/2017/04/05/huong-dan-hoc-thi-ielts-cho-ng-3909-3571-1491385539.jpg" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>IELTS > 6.0</h4>
                    <span>– Đối tượng: Dành cho Học viên từ 15 tuổi trở lên, Học viên đã học qua IELTS và có trình độ tương đương 5.5, cần chú trọng luyện giải đề & tham gia thi chứng chỉ quốc tế.</span>
                    <span>– Thời lượng: Gồm 2 Khóa A & B (thời lượng mỗi khóa là 12 tuần), 3 buổi/ tuần</span>
                    <span>– Nội dung: Luyện giải đề thi IELTS với cấu trúc bài làm hoàn chỉnh gồm 4 kỹ năng</span>
                    <span>– Loại hình lớp: Kèm riêng: 01 – 03 học viên/ lớp, Kèm nhóm: 06 – 09 học viên/ lớp</span>
                    <span>– Giáo trình: Giáo trình được tổng hợp và biên soạn từ các đầu sách uy tín dành riêng cho Học viên HSK</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section><!-- End Trainers Section -->
  </main>
  <app-footer></app-footer>
  </body>

