<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">

        <h1 class="logo me-auto">
          <a href="index.html">
            <img  src="../../../assets/img/logo-trung-tam-hsk.png" alt="">
          </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" class="logo me-auto"><img src="../../../assets/img/img/logo.png" alt="" class="img-fluid"></a>

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a  routerLink="/home-user">Trang chủ</a></li>
            <li><a class="active" routerLink="/about">Giới thiệu</a></li>
            <li class="dropdown"><a routerLink="/child-english"><span>Chương trình học</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a routerLink="/child-english">Tiếng Anh thiếu nhi</a></li>
                <li><a routerLink="/young-english">Tiếng Anh thiếu niên</a></li>
                <li><a routerLink="/ielts">Luyện thi IELTS</a></li>
                <li><a routerLink="/toiec">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
                <!-- <li><a routerLink="/business">Tiếng Anh doanh nghiệp</a></li> -->
                <li><a routerLink="/basic-english">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
              </ul>
            </li>
            <li class="dropdown"><a routerLink="/child-schedule"><span>Lịch Khai Giảng</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a routerLink="/child-schedule">Tiếng Anh thiếu nhi</a></li>
                <li><a routerLink="/young-schedule">Tiếng Anh thiếu niên</a></li>
                <li><a routerLink="/ielts-schedule">Luyện thi IELTS</a></li>
                <li><a routerLink="/toiec-schedule">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
                <li><a routerLink="/basic-schedule">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
              </ul>
            </li>
            <li><a routerLink="/contact">Liên hệ</a></li>
            <li><a routerLink="/login-user">Đăng nhập</a></li>
            </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
      <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Học hôm nay,<br>Dẫn đầu ngày mai</h1>
        <h2>Hãy để chúng tôi đồng hành cùng bạn...</h2>
        <a href="courses.html" class="btn-get-started">Get Started</a>
      </div>
    </section><!-- End Hero -->
    <main id="main">
          <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="https://vipenglish.edu.vn/wp-content/uploads/2018/07/khoa-hoc-tieng-anh-online-cho-hoc-sinh-cap-2-2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Sứ mệnh & Tầm nhìn</h3>
            <p class="fst-italic">Sứ mệnh</p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Trở thành một ngôi trường uy tín về chất lượng cùng thật nhiều yêu thương và hạnh phúc.
              </li>
              <li><i class="bi bi-check-circle"></i> Tự hào là đối tác đào tạo và nghiên cứu của nhiều tổ chức giáo dục uy tín trong và ngoài nước</li>
              <li><i class="bi bi-check-circle"></i> Tự hào là ngôi nhà chung của nhiều thế hệ Thầy Cô vững chuyên môn và tâm huyết với nghề giáo</li>
            </ul>
            <p class="fst-italic">Tầm nhìn</p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Cùng tạo dựng cho thế hệ trẻ Việt Nam nền tảng ngôn ngữ vững vàng cùng sự tự tin để sẵn sàng tiếp cận tri thức, phát triển bản thân và hội nhập.
              </li>
              <li><i class="bi bi-check-circle"></i> Các kỹ năng quan trọng của thế kỷ 21 luôn luôn được ưu tiên giúp học viên xây dựng hành trang  ngôn ngữ vững chắc để tự tin vươn ra thế giới</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
          <div class="container" data-aos="fade-up">

            <div class="row">
              <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                  <h3>Vì sao chọn Trung tâm HSK?</h3>
                  <p>
                    Chương trình liên thông từ cấp độ khởi đầu dành cho trẻ em độ tuổi mầm non nâng dần lên mốc chuẩn đầu ra là chương trình chứng chỉ IELTS Quốc tế; ngôn ngữ được phát triển lồng ghép với các kỹ năng và giá trị sống giúp học viên tự tin hòa nhập toàn cầu.              </p>
                  <div class="text-center">
                    <a href="about.html" class="more-btn">Đọc thêm <i class="bx bx-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                  <div class="row">
                    <div class="col-xl-4 d-flex align-items-stretch">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-receipt"></i>
                        <h4>Đi đầu về khảo thí tại khu vực Đồng bằng sông Cửu Long:</h4>
                        <p>Gia Việt là đối tác khảo thí tại ĐBSCL cho các chuẩn mực tiếng Anh quốc tế của các tổ chức có uy tín</p>
                      </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Tập thể giáo viên chất lượng:</h4>
                        <p>Lấy chất lượng làm tiêu chí phấn đấu hàng đầu, HSK luôn tuân thủ và nêu cao các chuẩn mực về năng lực chuyên môn và đạo đức nghề nghiệp.</p>
                      </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-images"></i>
                        <h4>Đa dạng hoạt động ngoại khoá hỗ trợ:</h4>
                        <p>Nhiều hoạt động ngoại khoá được tổ chức thường xuyên nhằm tạo cơ hội cho học viên ứng dụng ngôn ngữ trong thực tiễn đời sống.</p>
                      </div>
                    </div>
                  </div>
                </div><!-- End .content-->
              </div>
            </div>

          </div>
        </section><!-- End Why Us Section -->
    </main><!-- End #main -->
  <app-footer></app-footer>
</body>
