<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto">
      <a href="index.html">
        <img  src="../../../assets/img/logo-trung-tam-hsk.png" alt="">
      </a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a  routerLink="/home-user">Trang chủ</a></li>
        <li><a  routerLink="/about">Giới thiệu</a></li>
        <li class="dropdown"><a routerLink="/child-english"><span>Chương trình học</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/child-english">Tiếng Anh thiếu nhi</a></li>
            <li><a routerLink="/young-english">Tiếng Anh thiếu niên</a></li>
            <li><a routerLink="/ielts">Luyện thi IELTS</a></li>
            <li><a routerLink="/toiec">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
            <li><a routerLink="/basic-english">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
          </ul>
        </li>
        <li class="dropdown"><a routerLink="/child-schedule"><span>Lịch Khai Giảng</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/child-schedule">Tiếng Anh thiếu nhi</a></li>
            <li><a routerLink="/young-schedule">Tiếng Anh thiếu niên</a></li>
            <li><a routerLink="/ielts-schedule">Luyện thi IELTS</a></li>
            <li><a routerLink="/toiec-schedule">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
            <li><a  routerLink="/basic-schedule">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
          </ul>
        </li>
        <li *ngIf="loggedIn" class="dropdown"><a routerLink="/user-course-manager"><span>Hồ sơ cá nhân</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/user-course-manager">Khóa học của bạn</a></li>
            <li><a routerLink="/document-user">Tài liệu học tập</a></li>
            <li><a routerLink="/exam-user">Kiểm tra học tập</a></li>
            <li><a routerLink="/exam-student-result">Kết quả học tập</a></li>
          </ul>
        </li>
        <li><a  routerLink="/quiz-app">Thi thử</a></li>
        <li><a routerLink="/contact">Liên hệ</a></li>
        <li><a *ngIf="!loggedIn" routerLink="/login-user">Đăng nhập</a></li>
        <li><a *ngIf="loggedIn" (click)="handleLogout()">Đăng xuất</a></li>
          </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
