<app-navbar></app-navbar>
<app-header></app-header>
<div class="main-content">

  <main>

      <div class="page-header">
          <h1>Quản lý đăng ký các học viên</h1>
          <!-- <small>Home / Dashboard</small> -->
      </div>

      <div class="page-content">

          <div class="records table-responsive">

              <div class="record-header">
                  <div class="add">
                    <input [(ngModel)]="searchName" type="search" placeholder="Search" class="record-search">
                    <button style="position: absolute; left: 390px; height: 35px;" class="btn " class="las la-search" (click)="searchStudents()"></button>
                  </div>
              </div>

              <div>
                  <table width="100%">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th><span class="las la-sort"></span> TÊN</th>
                              <th><span class="las la-sort"></span> ĐỊA CHỈ</th>
                              <th><span class="las la-sort"></span> SĐT</th>
                              <th><span class="las la-sort"></span> SINH NHẬT</th>
                              <!-- <th><span class="las la-sort"></span> LỊCH SỬ ĐĂNG KÝ</th> -->
                              <th><span class="las la-sort"></span> THAO TÁC</th>
                          </tr>
                      </thead>
                      <tbody *ngFor="let register of register ">

                          <tr>
                              <td>{{register.id}}</td>
                              <td>
                                  <div class="client">
                                      <!-- <div class="client-img bg-img" style="background-image: url(../../../assets/img/3.jpeg)"></div> -->
                                      <div class="client-info">
                                          <h4>{{register.name}}</h4>
                                          <small>{{register.username}}</small>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                {{register.address}}
                              </td>
                              <td>
                                {{register.phone}}
                              </td>
                              <td>
                                {{register.birthday}}
                              </td>
                              <!-- <td>
                                  15/12/2022
                              </td> -->
                              <td>
                                  <div class="actions">
                                    <!-- <a href=""> -->
                                      <button (click)="updateUser(register.id)" class="btn" type="submit"><span class="las la-edit"></span></button>
                                    <!-- </a> -->
                                    <button (click)="onDeleteRegister(register.id)" class="btn" type="submit"><span class="las la-trash-alt"></span></button>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>

          </div>

      </div>

  </main>

</div>
