<body>
  <!-- ======= Header ======= -->
  <!-- <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        <a href="index.html">
          <img  src="../../../assets/img/logo-trung-tam-hsk.png" alt="">
        </a></h1>
      <a href="index.html" class="logo me-auto"><img src="../../../assets/img/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a routerLink="/home-user">Trang chủ</a></li>
          <li><a routerLink="/about">Giới thiệu</a></li>
          <li class="dropdown"><a routerLink="/child-english"><span>Chương trình học</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/child-english">Tiếng Anh thiếu nhi</a></li>
              <li><a routerLink="/young-english">Tiếng Anh thiếu niên</a></li>
              <li><a routerLink="/ielts">Luyện thi IELTS</a></li>
              <li><a routerLink="/toiec">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
              <li><a routerLink="/basic-english">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
            </ul>
          </li>
          <li class="dropdown"><a routerLink="/child-schedule"><span>Lịch Khai Giảng</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/child-schedule">Tiếng Anh thiếu nhi</a></li>
              <li><a routerLink="/young-schedule">Tiếng Anh thiếu niên</a></li>
              <li><a routerLink="/ielts-schedule">Luyện thi IELTS</a></li>
              <li><a routerLink="/toiec-schedule">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
              <li><a routerLink="/basic-schedule">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
            </ul>
          </li>
          <li><a routerLink="/contact">Liên hệ</a></li>
          <li><a *ngIf="!loggedIn" routerLink="/login-user">Đăng nhập</a></li>
          <li><a *ngIf="loggedIn" (click)="handleLogout()">Đăng xuất</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  End Header -->
  <app-navbar-user></app-navbar-user>

  <!-- ======= Hero Section ======= -->
  <section id="hero-child"  class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>CHƯƠNG TRÌNH TIẾNG ANH THIẾU NHI</h1>
      <h2>CHƯƠNG TRÌNH
        TIẾNG ANH THIẾU NHI
        Tại HSK, chương trình đào tạo Tiếng Anh Thiếu nhi được thiết kế theo chuẩn Cambridge với lộ trình học rõ ràng và định hướng lâu dài. Hệ thống giáo trình Anh Văn Thiếu nhi được chọn lọc và kết hợp hài hòa từ giáo trình của các nhà xuất bản uy tín như Oxford, Cambridge, Pearson, Longman...</h2>
      <a routerLink="/contact" class="btn-get-started">Liên hệ</a>
    </div>
  </section><!-- End Hero -->
    <main id="main">
          <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Khóa học</h2>
          <!-- <p>LỊCH KHAI GIẢNG</p> -->
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="https://giasuducminh.com/data/media/1485/images/ba-hinh-thuc-hoc-tieng-anh-co-ban.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>KINDER</h4>
                  <p class="price">Dành cho độ tuổi từ 4-6</p>
                </div>

                <!-- <h3><a href="course-details.html">Search Engine Optimization</a></h3> -->
                <p>
                  <li>Gồm 2 Khóa A & B (thời lượng mỗi khóa là 12 tuần)</li>
                  <li>Giáo trình First Friends & Tiny Talk</li>
                  </p>
                <!-- <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;42
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="https://giasuducminh.com/data/media/1485/images/ba-hinh-thuc-hoc-tieng-anh-co-ban.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>STARTER</h4>
                  <p class="price">Dành cho độ tuổi từ 6-8</p>
                </div>

                <!-- <h3><a href="course-details.html">Search Engine Optimization</a></h3> -->
                <p>
                  <li>Gồm 2 Khóa A & B (thời lượng mỗi khóa là 12 tuần)</li>
                  <li>Giáo trình Let’s go</li>
                  </p>
                <!-- <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;42
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="https://giasuducminh.com/data/media/1485/images/ba-hinh-thuc-hoc-tieng-anh-co-ban.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>MOVER</h4>
                  <p class="price">Dành cho độ tuổi từ 8-10</p>
                </div>

                <!-- <h3><a href="course-details.html">Search Engine Optimization</a></h3> -->
                <p>
                  <li>Gồm 2 Khóa A & B (thời lượng mỗi khóa là 12 tuần)</li>
                  <li>Giáo trình Smart book & Step by step Listening</li>
                </p>
                <!-- <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;42
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Popular Courses Section -->
  </main>
  <app-footer></app-footer>
  </body>

