input{
  width:300px;
}
.td_select td{
 width: 170px;
 text-align: right;
}
tr td, th{
  text-align: center;
}
.option {
  display: flex;
  justify-content: space-between;
}

.dropdown-column {
  flex: 1;
  margin-right: 5px;
}
