<app-navbar></app-navbar>
<app-header></app-header>
<div class="main-content">

  <main>
    <div class="page-header">
      <h3>Danh sách đăng ký chương trình</h3>
    </div>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li class="dropdown"><a routerLink="/course"><span>Tiếng Anh thiếu nhi</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <!-- <li><a routerLink="/course">Quản lý lịch học</a></li> -->
              <!-- <li><a routerLink="/child-english-ad-list">Danh sách đăng ký khóa học</a></li> -->
            </ul>
          </li>
          <li class="dropdown"><a routerLink="/young-english-ad"><span>Tiếng Anh thiếu niên</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <!-- <li><a routerLink="/young-english-ad">Quản lý lịch học</a></li> -->
              <!-- <li><a routerLink="/young-english-ad-list">Danh sách đăng ký khóa học</a></li> -->
            </ul>
          </li>
          <li class="dropdown"><a routerLink="/ielts-english-ad"><span>Luyện thi IELTS</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <!-- <li><a routerLink="/ielts-english-ad">Quản lý lịch học</a></li> -->
              <!-- <li><a routerLink="/ielts-english-ad-list">Danh sách đăng ký khóa học</a></li> -->
            </ul>
          </li>
          <li class="dropdown"><a routerLink="/toeic-english-ad"><span>Luyện thi TOEFL-TOEIC</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <!-- <li><a routerLink="/toeic-english-ad">Quản lý lịch học</a></li> -->
              <!-- <li><a routerLink="/toeic-english-ad-list">Danh sách đăng ký khóa học</a></li> -->
            </ul>
          </li>
          <li class="dropdown"><a routerLink="/basic-english-ad"><span>Giao tiếp - Căn Bản</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <!-- <li><a routerLink="/basic-english-ad">Quản lý lịch học</a></li> -->
              <!-- <li><a routerLink="/basic-english-ad-list">Danh sách đăng ký khóa học</a></li> -->
            </ul>
          </li>
          <li class="dropdown"><a routerLink="/child-english-ad-list"><span>Danh sách đăng ký khóa học</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <!-- <li><a routerLink="/course">Quản lý lịch học</a></li> -->
              <!-- <li><a routerLink="/child-english-ad-list">Danh sách đăng ký khóa học</a></li> -->
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <div class="page-content">

          <div class="records table-responsive">

              <div class="record-header">
                  <div class="add">
                      <span>Liệt kê các khóa học</span>
                      <select [(ngModel)]="selectedCourseId" (change)="getRegistrations(selectedCourseId)"  style="width: 350px;"   [(ngModel)]="selectedCourseId" class="form-select" aria-label="Default select example" required>
                        <option value="1" disabled >-- Chọn khóa học --</option>
                        <option value="null">Tất cả</option>
                        <option  *ngFor="let course of courses" value="{{course.course_id}}">{{course.program}} | {{course.openning}}</option>
                      </select>
                  </div>
              </div>

              <div>
                  <table width="100%">
                      <thead>
                          <tr>
                              <th><span class="las la-sort"></span> TIẾNG ANH</th>
                              <th><span class="las la-sort"></span> CHƯƠNG TRÌNH</th>
                              <th><span class="las la-sort"></span> CẤP ĐỘ</th>
                              <th><span class="las la-sort"></span> HỌC PHÍ</th>
                              <!-- <th><span class="las la-sort"></span> LỊCH HỌC</th> -->
                              <th><span class="las la-sort"></span> NGÀY KHAI GIẢNG</th>
                              <th><span class="las la-sort"></span> EMAIL</th>
                              <th><span class="las la-sort"></span> SĐT</th>
                              <th><span class="las la-sort"></span> THANH TOÁN</th>
                              <th ></th>

                          </tr>
                      </thead>
                      <tbody *ngFor="let childRegister of childRegisterList">
                          <tr>
                              <td >
                                {{childRegister.course.english.englishName}}
                            </td>
                              <td>
                                  {{childRegister.course.program}}
                              </td>
                              <td>
                                  {{childRegister.course.level}}
                              </td>

                              <td>
                                  {{childRegister.course.price | currency:'VND'}}
                              </td>
                              <!-- <td>
                                 {{childRegister.course.schedule}}
                              </td> -->
                              <td class="text-center">
                              {{childRegister.course.openning}}
                             </td>

                             <td>
                              {{childRegister.user.username}}
                             </td>
                             <td>
                              {{childRegister.user.phone}}
                             </td>
                             <td class="text-center">
                              <div *ngIf="childRegister.status == 1">
                                Đã thanh toán
                              </div>
                              <div *ngIf="childRegister.status == 0">
                              <!-- Học phí của bạn: {{class.course.price | currency:'VND'}}, -->
                              <a class="text-primary" >Chưa thanh toán!</a>
                              </div>
                            </td>
                             <td>
                              <div class="actions">
                                <button (click)="onDeleteRegisterListChild(childRegister.id)" class="btn" type="submit"><span class="las la-trash-alt"></span></button>
                              </div>
                          </td>
                          </tr>
                      </tbody>
                  </table>
              </div>

          </div>

      </div>

  </main>

</div>

