  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Thông tin liên hệ</h3>
            <p>
              Trụ sở chính: 39 Mậu Thân, Xuân Khánh, Ninh Kiều, Cần Thơ<br>
              <strong>Điện thoại:</strong> 0947 830 300<br>
              <strong>Email:</strong> hsk@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liên kết nhanh</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home-user">Trang chủ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">Giới thiệu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/child-english">Chương trình học</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/child-schedule">Lịch khai giảng</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/contact">Liên hệ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/login-user">Đăng nhập</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Những khóa học</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i><a routerLink="/child-english">Tiếng Anh thiếu nhi</a></li>
              <li><i class="bx bx-chevron-right"></i><a routerLink="/young-english">Tiếng Anh thiếu niên</a></li>
              <li><i class="bx bx-chevron-right"></i><a routerLink="/ielts">Luyện thi IELTS</a></li>
              <li><i class="bx bx-chevron-right"></i><a routerLink="/toiec">TOEFL - TOEIC</a></li>
              <li><i class="bx bx-chevron-right"></i><a routerLink="/basic-english">Tiếng Anh Căn Bản - Giao tiếp </a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Gửi thông tin để được tư vấn chi tiết</h4>
            <p>Gửi thông tin của bạn cho chúng tôi để nhận được những tư vấn chi tiết về khóa học.</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>HSK</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">Dong Thu</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
