<app-navbar></app-navbar>
<app-header></app-header>
<div class="main-content">

  <main>

      <div class="page-header">
        <h3>Đặt cọc</h3>
          <nav class="nav justify-content-center text-uppercase">
            <a class="nav-link text-success" routerLink="/study-register">Đăng ký học</a>
            <a class="nav-link text-success active"routerLink="/deposit">Đăt cọc</a>
            <a class="nav-link text-success" routerLink="/tuition">Học phí</a>
            <!-- <a class="nav-link text-success" href="#">Các khoảng đã thu</a> -->
            <a class="nav-link text-success"routerLink="/spending">Các khoảng đã chi</a>
          </nav>
      </div>

      <div class="page-content">

          <div class="records table-responsive">

              <div class="record-header">
                  <div class="add">
                      <span>Phương thức</span>
                      <select name="" id="">
                          <option value="">Tiền mặt</option>
                      </select>
                      <span>Khách hàng</span>
                      <select name="" id="">
                          <option value="">Anh Thư</option>
                      </select>
                      <span>Số tiền</span>
                      <select name="" id="">
                          <option value="">1tr</option>
                      </select>
                      <span>Mã học viên</span>
                      <select name="" id="">
                          <option value="">1tr</option>
                      </select>
                      <span>Ngày cọc</span>
                      <select name="" id="">
                          <option value="">23/8/2023</option>
                          <option value="">23/8/2023</option>
                      </select>
                      <span>Khóa học</span>
                      <select name="" id="">
                          <option value="">Giao tiếp</option>
                      </select>
                      <button>Thêm</button>
                  </div>
              </div>

              <div>
                  <table width="100%">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th><span class="las la-sort"></span>Phương thức</th>
                              <th><span class="las la-sort"></span>Học viên</th>
                              <th><span class="las la-sort"></span>Số tiền</th>
                              <th><span class="las la-sort"></span>Ngày cọc </th>
                              <th><span class="las la-sort"></span>Khóa học</th>
                              <!-- <th><span class="las la-sort"></span>Thao tác </th> -->
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1</td>
                              <td>Tiền mặt</td>
                              <td>Anh Thư</td>
                              <td>1tr</td>
                              <td>20/8/2023</td>
                              <td>giáo tiếp</td>
                           <!-- <td>
                            <div class="actions">
                              <a href="">
                                <button class="btn" type="submit"><span class="las la-edit"></span></button>
                              </a>
                              <button class="btn" type="submit"><span class="las la-trash-alt"></span></button>
                            </div>
                        </td> -->
                          </tr>
                      </tbody>
                  </table>

              </div>
              <div class="record-header">
                <div class="add">
                    <button>In phiếu</button>
                </div>
            </div>
          </div>

      </div>

  </main>

</div>

