<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        <a href="index.html">
          <img  src="../../../assets/img/logo-trung-tam-hsk.png" alt="">
        </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo me-auto"><img src="../../../assets/img/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a routerLink="/home-user">Trang chủ</a></li>
          <li><a routerLink="/about">Giới thiệu</a></li>
          <li class="dropdown"><a routerLink="/child-english"><span>Chương trình học</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/child-english">Tiếng Anh thiếu nhi</a></li>
              <li><a routerLink="/young-english">Tiếng Anh thiếu niên</a></li>
              <li><a routerLink="/ielts">Luyện thi IELTS</a></li>
              <li><a routerLink="/toiec">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
              <!-- <li><a routerLink="/business">Tiếng Anh doanh nghiệp</a></li> -->
              <li><a routerLink="/basic-english">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
            </ul>
          </li>
          <li><a routerLink="/register-course">Đăng ký khóa học</a></li>
          <li><a routerLink="/contact" >Liên hệ</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero-child"  class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>CHƯƠNG TRÌNH TIẾNG ANH THIẾU NIÊN</h1>
      <h2>Chương trình Tiếng Anh Thiếu niên bao gồm các chương trình đào tạo Tiếng Anh theo chuẩn Cambridge; Luyện thi IELTS FOR TEENS, KET-PET, TOEFL iBT, Luyện thi Lớp 10, Chương trình Sách Giáo Khoa,... được thiết kế phù hợp với nhu cầu, khả năng và tâm lý lứa tuổi Thiếu niên</h2>
      <a routerLink="/contact" class="btn-get-started">Liên hệ</a>
    </div>
  </section><!-- End Hero -->
    <main id="main">
          <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">TOEFL Junior</a></h5>
                <p class="fst-italic text-center"> Gồm 2 Khóa A & B (thời lượng mỗi khóa là 12 tuần)</p>
                <p class="card-text">Chương trình được thiết kế phù hợp với học viên cấp THCS đang có ý định luyện thi chứng chỉ IELTS để làm hành trang cho con đường du học hoặc thi tuyển hay xét trình độ đầu ra các trường cấp THPT, đại học.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">IELTS for Teen</a></h5>
                <p class="fst-italic text-center"> Gồm 2 Khóa A & B (thời lượng mỗi khóa là 12 tuần)</p>
                <p class="card-text">Chương trình được thiết kế đặc biệt dành riêng cho học sinh bậc phổ thông nhằm đánh giá khả năng thành thạo tiếng Anh của học sinh ở cả 2 lĩnh vực học thuật và xã hội. Đây cũng là một trong những điều kiện cần giúp các em chuẩn bị tốt cho hồ sơ du học sau này.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Events Section -->
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Hệ thống kiến thức ngữ pháp Sách Giáo khoa cấp 2</h4>
                <span>Chỉ dành cho các Học sinh cấp 2 (từ lớp 06-09)</span>
                <span> Hình thức lớp đa dạng & hiệu quả:</span>
                <span>– Kèm riêng: 01 – 03 học viên/ lớp</span>
                <span>– Kèm nhóm: 06 – 09 học viên/ lớp</span>
                <p>
                  Thời lượng: 03 tháng/ khóa/ học kỳ
                </p>
                <p>
                  Lịch học: 03 buổi/ tuần, trong đó:
                  01 buổi học kỹ năng Nghe – Nói
                  02 buổi học theo chương trình Sách giáo khoa
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Kỹ năng Nghe Nói kết hợp Sách Giáo Khoa cấp 2</h4>
                <span>Chỉ dành cho các Học sinh cấp 2 (từ lớp 06-09)</span>
                <span> Hình thức lớp đa dạng & hiệu quả:</span>
                <span>– Kèm riêng: 01 – 03 học viên/ lớp</span>
                <span>– Kèm nhóm: 06 – 09 học viên/ lớp</span>
                <p>
                  Thời lượng: 03 tháng/ khóa/ học kỳ
                </p>
                <p>
                  Lịch học: 03 buổi/ tuần, trong đó:
                  02 buổi học theo chương trình Sách giáo khoa
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Luyện thi tiếng Anh lớp 10</h4>
                <span>Chỉ dành cho các Học sinh cấp 2 (từ lớp 06-09)</span>
                <span> Hình thức lớp đa dạng & hiệu quả:</span>
                <span>– Kèm riêng: 01 – 03 học viên/ lớp</span>
                <span>– Kèm nhóm: 06 – 09 học viên/ lớp</span>
                <p>
                  Giai đoạn 1: Ôn tập & củng cố cấu trúc ngữ pháp – từ vựng trong SGK lớp 9  ~ 2 khóa (3 tháng/ khóa)                </p>
                <p>
                  Giai đoạn 2:  Luyện giải đề thi Tuyển sinh lớp 10 theo nhiều cấp độ (căn bản – nâng cao)  ~ 1 khóa ( từ 3 – 3,5 tháng)                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Trainers Section -->
      <!-- ======= Popular Courses Section ======= -->
      <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <!-- <h2>Khóa học</h2> -->
            <p>LỊCH KHAI GIẢNG</p>
          </div>

          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="records table-responsive">
              <!-- <div class="record-header">
                  <div class="browse">
                     <input type="search" placeholder="Search" class="record-search">
                      <select name="" id="">
                          <option value="">Status</option>
                      </select>
                  </div>
              </div> -->
            <div>
              <table width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><span class="las la-sort"></span> TÊN</th>
                        <th><span class="las la-sort"></span> BẮT ĐẦU</th>
                        <th><span class="las la-sort"></span> GIỜ HỌC</th>
                        <th><span class="las la-sort"></span> MÔ TẢ</th>
                        <th><span class="las la-sort"></span> HỌC PHÍ</th>
                        <th><span class="las la-sort"></span> BẬC</th>
                      </tr>
                </thead>
                <!-- <tbody *ngFor="let course of courses">
                  <tr>
                     <td>{{course?.id}}</td>
                     <td>{{course?.courseType}}</td>
                     <td>{{course?.start_time}}</td>
                     <td>{{course?.period}}</td>
                     <td>{{course?.description}}</td>
                     <td>{{course?.price}}</td>
                     <td>{{course?.level}}</td>
                  </tr>
                </tbody> -->
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="h-100 h-custom" style="background-color: #8fc4b7;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">Đăng ký khóa học</h3>

                <form  class="px-md-2">
                  <div class="form-outline mb-4">
                    <select  name="courseType" id="courseType" class="form-select" aria-label="Default select example">
                        <option value="1" disabled >-- Chọn khóa học --</option>
                        <option></option>
                    </select>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text"  name="userName" id="userName" class="form-control" placeholder="Tên" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text"  name="address" id="address" class="form-control" placeholder="Địa chỉ" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text"  name="phone" id="phone" class="form-control" placeholder="Số điện thoại" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text"  name="email" id="email" class="form-control" placeholder="Email" />
                  </div>
                  <button type="submit" class="btn btn-success btn-lg mb-1">Đăng ký</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
  </body>


