<body>
  <!-- ======= Header ======= -->
  <!-- <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        <a href="index.html">
          <img  src="../../../assets/img/logo-trung-tam-hsk.png" alt="">
        </a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a routerLink="/home-user">Trang chủ</a></li>
          <li><a routerLink="/about">Giới thiệu</a></li>
          <li class="dropdown"><a routerLink="/child-english"><span>Chương trình học</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/child-english">Tiếng Anh thiếu nhi</a></li>
              <li><a routerLink="/young-english">Tiếng Anh thiếu niên</a></li>
              <li><a routerLink="/ielts">Luyện thi IELTS</a></li>
              <li><a routerLink="/toiec">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
              <li><a routerLink="/basic-english">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
            </ul>
          </li>
          <li class="dropdown"><a routerLink="/child-schedule"><span>Lịch Khai Giảng</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/child-schedule">Tiếng Anh thiếu nhi</a></li>
              <li><a routerLink="/young-schedule">Tiếng Anh thiếu niên</a></li>
              <li><a routerLink="/ielts-schedule">Luyện thi IELTS</a></li>
              <li><a routerLink="/toiec-schedule">Luyện thi TOEFL - TOEIC & CHỨNG CHỈ QUỐC TẾ</a></li>
              <li><a routerLink="/basic-schedule">Tiếng Anh Căn Bản - Giao tiếp & Tiếng Anh cho người đi làm</a></li>
            </ul>
          </li>
          <li><a routerLink="/contact">Liên hệ</a></li>
          <li><a *ngIf="!loggedIn" routerLink="/login-user">Đăng nhập</a></li>
          <li><a *ngIf="loggedIn" (click)="handleLogout()">Đăng xuất</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header> -->
  <!-- End Header -->
  <app-navbar-user></app-navbar-user>

  <!-- ======= Hero Section ======= -->
  <section id="hero-child"  class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>CHƯƠNG TRÌNH TIẾNG ANH THIẾU NIÊN</h1>
      <h2>Chương trình Tiếng Anh Thiếu niên bao gồm các chương trình đào tạo Tiếng Anh theo chuẩn Cambridge; Luyện thi IELTS FOR TEENS, KET-PET, TOEFL iBT, Luyện thi Lớp 10, Chương trình Sách Giáo Khoa,... được thiết kế phù hợp với nhu cầu, khả năng và tâm lý lứa tuổi Thiếu niên</h2>
      <a routerLink="/contact" class="btn-get-started">Liên hệ</a>
    </div>
  </section><!-- End Hero -->
    <main id="main">
          <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">TOEFL Junior</a></h5>
                <p class="fst-italic text-center"> Gồm 2 Khóa A & B (thời lượng mỗi khóa là 12 tuần)</p>
                <p class="card-text">Chương trình được thiết kế phù hợp với học viên cấp THCS đang có ý định luyện thi chứng chỉ IELTS để làm hành trang cho con đường du học hoặc thi tuyển hay xét trình độ đầu ra các trường cấp THPT, đại học.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">IELTS for Teen</a></h5>
                <p class="fst-italic text-center"> Gồm 2 Khóa A & B (thời lượng mỗi khóa là 12 tuần)</p>
                <p class="card-text">Chương trình được thiết kế đặc biệt dành riêng cho học sinh bậc phổ thông nhằm đánh giá khả năng thành thạo tiếng Anh của học sinh ở cả 2 lĩnh vực học thuật và xã hội. Đây cũng là một trong những điều kiện cần giúp các em chuẩn bị tốt cho hồ sơ du học sau này.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Events Section -->
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Hệ thống kiến thức ngữ pháp Sách Giáo khoa cấp 2</h4>
                <span>Chỉ dành cho các Học sinh cấp 2 (từ lớp 06-09)</span>
                <span> Hình thức lớp đa dạng & hiệu quả:</span>
                <span>– Kèm riêng: 01 – 03 học viên/ lớp</span>
                <span>– Kèm nhóm: 06 – 09 học viên/ lớp</span>
                <p>
                  Thời lượng: 03 tháng/ khóa/ học kỳ
                </p>
                <p>
                  Lịch học: 03 buổi/ tuần, trong đó:
                  01 buổi học kỹ năng Nghe – Nói
                  02 buổi học theo chương trình Sách giáo khoa
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Kỹ năng Nghe Nói kết hợp Sách Giáo Khoa cấp 2</h4>
                <span>Chỉ dành cho các Học sinh cấp 2 (từ lớp 06-09)</span>
                <span> Hình thức lớp đa dạng & hiệu quả:</span>
                <span>– Kèm riêng: 01 – 03 học viên/ lớp</span>
                <span>– Kèm nhóm: 06 – 09 học viên/ lớp</span>
                <p>
                  Thời lượng: 03 tháng/ khóa/ học kỳ
                </p>
                <p>
                  Lịch học: 03 buổi/ tuần, trong đó:
                  02 buổi học theo chương trình Sách giáo khoa
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://img.freepik.com/free-photo/kids-classroom-taking-english-class_23-2149402680.jpg?size=626&ext=jpg&ga=GA1.1.186812330.1694421726&semt=ais" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Luyện thi tiếng Anh lớp 10</h4>
                <span>Chỉ dành cho các Học sinh cấp 2 (từ lớp 06-09)</span>
                <span> Hình thức lớp đa dạng & hiệu quả:</span>
                <span>– Kèm riêng: 01 – 03 học viên/ lớp</span>
                <span>– Kèm nhóm: 06 – 09 học viên/ lớp</span>
                <p>
                  Giai đoạn 1: Ôn tập & củng cố cấu trúc ngữ pháp – từ vựng trong SGK lớp 9  ~ 2 khóa (3 tháng/ khóa)                </p>
                <p>
                  Giai đoạn 2:  Luyện giải đề thi Tuyển sinh lớp 10 theo nhiều cấp độ (căn bản – nâng cao)  ~ 1 khóa ( từ 3 – 3,5 tháng)                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Trainers Section -->
  </main>
  <app-footer></app-footer>
  </body>


